:root {
    /*colors*/
    --light-black: #1d1e2a;
    --light-gy: #616165e2;
    --white: #fff;
    --light-red: #cf3c3c;

}

/**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    color: var(--white);
    background-color: var(--light-black);
        display: grid;
    place-items: center;
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.content-main {
    width: clamp(320px, 50%, 33rem);
    height: 500px;
    font-size: clamp(14px, 0.9rem + 1.5vw, 1.2rem);
    background-color: var(--light-gy);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 6px 6px 8px rgba(255, 255, 255, 0.4);
}

.content-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.style-buttons {
    border-radius: 50%;
    border: none;
    width: 36px;
    height: 36px;
}

.content-header h1 {
    font-size: clamp(20px, 1.2rem + 2vw, 2.1rem);
}

.content-tasks {
    width: 100%;

}

.one-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--white);
    color: var(--light-black);
    border-radius: 8px;
}
